* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pontano Sans"; }

h1 {
  font-family: "Judson"; }

time {
  font-size: 1.5em;
  padding: 5px; }

body {
  padding-bottom: 50px;
  background: #456990;
  overflow-x: hidden;
  padding-bottom: 50px;
  color: #fff; }

header {
  background: #F45B69;
  color: #fff;
  padding: 100px 0;
  text-align: center; }
  header h1 {
    font-size: 3rem; }
  header p {
    font-size: 2.1rem;
    padding: 20px; }

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff; }

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit; }

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #f45b69; }

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid; }

.timeline ul li:nth-child(odd) div {
  left: 45px; }

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f45b69 transparent transparent; }

.timeline ul li:nth-child(even) div {
  left: -439px; }

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f45b69; }

#visuals {
  height: 800px;
  margin-top: 75px; }

#visuals h1 {
  text-align: center;
  font-size: 3rem; }

#photos {
  opacity: 0.88; }

#photos img {
  width: 30%;
  float: left;
  display: block;
  margin: 2px; }

#photos ul {
  list-style: none;
  margin: 0 auto;
  padding: 10px;
  display: block;
  max-width: 780px;
  text-align: center; }

#photos {
  width: 100%; }

#photo-gallery {
  width: 100%; }

#conclusion {
  background: #F45B69;
  width: 100%;
  padding: 10px;
  border-radius: 5px; }
  #conclusion h1 {
    text-align: center;
    font-size: 3rem; }

footer {
  text-align: center;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 5px; }
  footer a {
    text-decoration: none;
    color: #fff; }
  footer a:hover {
    color: #F45B69; }

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
   
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
   
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
   
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #F45B69 transparent transparent;
  }
}